<IfModule mod_rewrite.c>
    RewriteEngine On

    # Force WWW + HTTPS
    RewriteCond %{HTTP_HOST} ^cmautoservic\.com [NC]
    RewriteRule ^(.*)$ https://www.cmautoservic.com/$1 [L,R=301]

    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://www.cmautoservic.com/$1 [L,R=301]

    # Laravel routing
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>